<th:block th:include="./layouts/layout :: head"></th:block>
<th:block th:include="./layouts/layout :: header"></th:block>

<div class="bg-white" style="padding:50px; min-height:65%;">
	<div class="container bg-white table-responsive">
		<table class="table-condensed table table-striped table-bordered">
			<thead>
				<tr>
					<th>DUI</th>
					<th>Cargo</th>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Dirección</th>
					<th>Teléfono</th>
					<th>Celular</th>
					<th>Estado</th>
					<th colspan="3">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="empleado :${empleados}">
					<td th:text="${empleado.dui_empleado}"/>
					<td th:text="${empleado.cargo.titulo}"/>
					<td th:text="${empleado.apellidos} +' '+${empleado.nombres}"/>
					<td th:text="${empleado.direccion}"/>
					<td th:text="${empleado.telefono}"/>
					<td th:text="${empleado.celular}"/>
					<td th:text="${empleado.celular}"/>
					<td th:text="${empleado.estado}"/>
					<td><a th:href="@{/empleado/ver/} + ${empleado.dui_empleado}">Ver</a></td>
					<td><a th:href="@{/empleado/modificar/} + ${empleado.dui_empleado}">Modificar</a></td>
					<td><a onclick="return confirm('¿Desea eliminarlo?')" th:href="@{/empleado/eliminar/} + ${empleado.dui_empleado}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
		<a href="/empleado/crear">Nuevo empleado</a>
	</div>
</div>

<th:block th:include="./layouts/layout :: footer"></th:block>