<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title th:text="${title}"></title>	
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<link rel="icon" th:href="@{/img/favicon.ico}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

	<header th:fragment="header">
		<nav class="navbar navbar-inverse navbar-expand-lg navbar-light">
		  <a class="navbar-brand" href="/" style="color:#fff">PRESTANET EXPRESS</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/cliente/listar" style="color:#fff">Clientes <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/prestamo/listar" style="color:#fff">Préstamo</a>
		      </li>
		       <!-- <li class="nav-item">
		        <a class="nav-link" href="/cuota/listar">Cuotas</a>
		      </li>-->
		      <li class="nav-item">
		        <a class="nav-link" href="/pago/listar" style="color:#fff">Pagos</a>
		      </li>
		      <!--  <li class="nav-item">
		        <a class="nav-link" href="/remesa/listar">Remesas</a>
		      </li>-->
		      <li class="nav-item">
		        <a class="nav-link" href="/solicitud/listar" style="color:#fff">Solicitudes</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a  style="color:#fff" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Configuración
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/listar">Bancos</a>
		          <a class="dropdown-item" href="/empleado/listar">Empleados</a>
		          <a class="dropdown-item" href="/cargo/listar">Cargos</a>
		          <a class="dropdown-item" href="/area/listar">Areas</a>
		          <a class="dropdown-item" href="/tasainteres/listar">Tasas de Interés</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Parámetros Generales</a>
		        </div>
		      </li>
		    </ul>
		      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Ingresar</button>
		  </div>
		</nav>
	</header>

	<footer th:fragment="footer" class="container">
	<div style="width:100%; padding:30px" class="text-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<h5>ACCESOS RAPIDOS</h5>
					<ul style="list-style:none">
						<li>Inicio</li>
						<li>Multimedia</li>
						<li>Noticias</li>
					 <ul>
				</div>
				<div class="col-lg-3">
					<h4>Contacto</h4>
					<ul style="list-style:none">
						<li>Correo: cooperativa@cooperativa.com </li>
						<li>Teléfono: +1 (0) 000 0000 001 </li>
						<li>Fax: +1 (0) 000 0000 002</li>
					 <ul>
				</div>
				<div class="col-lg-3">
					<h4>Prestanet Express</h4>					
					<ul style="list-style:none">
						<li>1234 Street Name</li>
						<li>City, AA 99999</li>
					 <ul>
				</div>
				<div class="col-lg-3">
					<center>
						<img th:src="@{/img/logo.png}" class="img-responsive" width="100px" />
					</center>
				</div>
			</div>
		</div>
		
		</div>
	</footer>
	
</body>
</html>