<th:block th:include="./layouts/layout :: head"></th:block>
<th:block th:include="./layouts/layout :: header"></th:block>
<div class="bg-white" style="width:100%; padding:50px">
<div class="container bg-white">
<form th:action="@{/cargo/guardar}" id="cargo" name="cargo" th:object="${cargo}" method="post" >

	<div class="form-group">
    	<label for="nombre">Titulo</label>
    	<input type="text" class="form-control" id="titulo" placeholder="Titulo" th:field="*{titulo}"/>
    	<small th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="form-text text-danger"></small>
  	</div>
	<div class="form-group">
    	<label for="descripcion">Descripcion</label>
    	<input type="text" class="form-control" id="descripcion" placeholder="Descripcion" th:field="*{descripcion}"/>
    	<small th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="form-text text-danger"></small>
  	</div>
  	<div class="form-group">
    	<label for="descripcion">Sueldo Base</label>
    	<input type="text" class="form-control" id="sueldo_base" placeholder="Sueldo Base" th:field="*{sueldo_base}"/>
    	<small th:if="${#fields.hasErrors('descripcion')}" th:errors="*{sueldo_base}" class="form-text text-danger"></small>
  	</div>
  	<div class="form-group">
    	<label for="area">Area</label>
    	<select th:field="*{area.id_area}" class="form-control">
		    <option th:each="area : ${areas}" th:value="${area.id_area}" th:text="${area.nombre}">
		    </option>
		</select>    	
  	</div>  	
  	<input type="submit" class="btn btn-primary" value="Guardar" />
</form>
</div>
</div>

<th:block th:include="./layouts/layout :: footer"></th:block>