<th:block th:include="./layouts/layout :: head"></th:block>
<th:block th:include="./layouts/layout :: header"></th:block>
<div class="bg-white" style="width:100%; padding:50px">
<div class="container bg-white">
<form th:action="@{/tasainteres/guardar}" id="tasainteres" name="tasainteres" th:object="${tasainteres}" method="post" >

	<div class="form-group col-lg-4">
    	<label for="tasa">Tasa</label>
    	<input type="text" class="form-control" id="tasa" placeholder="Tasa %" th:field="*{tasa}"/>
    	<small th:if="${#fields.hasErrors('tasa')}" th:errors="*{tasa}" class="form-text text-danger"></small>
  	</div>
	<div class="form-group col-lg-4">
    	<label for="codigo">Estado</label>
    	<select class="form-control" th:field="*{estado}">
			    <option th:value="'A'" th:text="Activo"></option>
			    <option th:value="'I'" th:text="Inactivo"></option>
		</select>
    	<small th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}" class="form-text text-danger"></small>
  	</div> 	
  	<input type="submit" class="btn btn-primary" value="Guardar" />
</form>
</div>
</div>

<th:block th:include="./layouts/layout :: footer"></th:block>