<th:block th:include="./layouts/layout :: head"></th:block>
<th:block th:include="./layouts/layout :: header"></th:block>

<div class="bg-white" style="padding:50px; min-height:65%;">
	<div class="container bg-white table-responsive">
		<table class="table-condensed table table-striped table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Tasa</th>
					<th>Estado</th>
					<th colspan="2">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tasainteres :${tasasinteres}">
					<td th:text="${tasainteres.id_tasa_interes}"/>
					<td th:text="'%' + ${tasainteres.tasa} * 100"/>
					<td th:text="${tasainteres.estado}"/>
					<td><a th:href="@{/tasainteres/modificar/} + ${tasainteres.id_tasa_interes}">Modificar</a></td>
					<td><a onclick="return confirm('¿Desea eliminarlo?')" th:href="@{/tasainteres/eliminar/} + ${tasainteres.id_tasa_interes}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
		<a href="/tasainteres/crear">Nuevo registro</a>
	</div>
</div>

<th:block th:include="./layouts/layout :: footer"></th:block>