<th:block th:include="./layouts/layout :: head"></th:block>
<th:block th:include="./layouts/layout :: header"></th:block>
<div class="bg-white" style="width:100%; padding:50px">
<div class="container bg-white">
<ul>
<li th:text="'DUI: ' + ${cliente.dui_cliente}">
<li th:text="'NOMBRES: ' + ${cliente.nombres}">
<li th:text="'APELLIDOS: ' + ${cliente.apellidos}">
<li th:text="'NIT: ' + ${cliente.nit}">
<li th:text="'FECHA DE NACIMIENTO: ' + ${cliente.fecha_nacimiento}">
<li th:text="'TELEFONO: ' + ${cliente.telefono}">
<li th:text="'CELULAR: ' + ${cliente.celular}">
<li th:text="'CORREO: ' + ${cliente.correo}">
<li th:text="'ESTADO: ' + ${cliente.estado}">
</ul>


		<table class="table-condensed table table-striped table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Empleado que Autoriza</th>
					<th>DUI Cliente</th>
					<th>Monto</th>
					<th>Tasa de interés</th>
					<th>Fecha límite</th>
					<th>Saldo</th>
					<th>Estado</th>
					<th colspan="3">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prestamo :${cliente.prestamos}">
					<td th:text="${prestamo.id_prestamo}"/>
					<td th:text="${prestamo.empleado.dui_empleado}"/>
					<td th:text="${prestamo.cliente.dui_cliente}"/>
					<td th:text="@{$} + ${prestamo.monto}"/>
					<td th:text="'%'+${prestamo.tasainteres.tasa} * 100"/>
					<td th:text="${prestamo.fecha_limite}"/>
					<td th:text="'$'+${prestamo.saldo}"/>
					<td th:text="${prestamo.estado}"/>
					<td><a th:href="@{/prestamo/ver/} + ${prestamo.id_prestamo}">Ver</a></td>
					<td><a th:href="@{/prestamo/modificar/} + ${prestamo.id_prestamo}">Modificar</a></td>
					<td><a onclick="return confirm('¿Desea eliminarlo?')" th:href="@{/cliente/eliminar/} + ${prestamo.id_prestamo}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>

</div>
</div>
<th:block th:include="./layouts/layout :: footer"></th:block>