<th:block th:include="./layouts/layout :: head"></th:block>
<th:block th:include="./layouts/layout :: header"></th:block>

<div class="bg-white" style="padding:50px; min-height:65%;">
	<div class="container bg-white table-responsive">
		<table class="table-condensed table table-striped table-bordered">
			<thead>
				<tr>
					<th>ID de Solicitud</th>
					<th>Cliente</th>
					<th>Fecha</th>
					<th>Monto</th>
					<th>Estado</th>
					<th colspan="3">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="solicitud :${solicitudes}">
					<td th:text="${solicitud.id_solicitud}"/>
					<td th:text="${solicitud.cliente.nombres} + ' ' + ${solicitud.cliente.apellidos}"/>
					<td th:text="${solicitud.fecha}"/>
					<td th:text="@{$} + ${solicitud.monto}"/>
					<td th:text="${solicitud.estado}"/>
					<td><a th:href="@{/solicitud/ver/} + ${solicitud.id_solicitud}">Ver</a></td>
					<td><a th:href="@{/cliente/modificar/} + ${solicitud.id_solicitud}">Modificar</a></td>
					<td><a onclick="return confirm('¿Desea eliminarlo?')" th:href="@{/solicitud/eliminar/} + ${solicitud.id_solicitud}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
		<a href="/solicitud/crear">Nueva solicitud</a>
	</div>
</div>

<th:block th:include="./layouts/layout :: footer"></th:block>